@import "node_modules/bootstrap/scss/bootstrap";

.profile {
  margin: 1rem 0;
  text-align: center;

  &__bio {
    background: #fff;
    padding: 20px 0;
    margin: 1rem 0 32px;
    text-align: center;

    h3 {
      font-style: italic;
      font-size: 22px;
      line-height: 1.5;
      color: #4a4a4a;
      letter-spacing: normal;
      letter-spacing: 1px;
      width: 80%;
      margin: auto;
      word-wrap: break-word;
      display: inline-block;
    }
  }

  &__image {
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    margin: 1rem;
  }

  &__body {
    &__footer {
      padding: 0.5rem;

      a {
        color: gray;
      }
    }
  }

  &__skills {
    display: flex;
    align-items: center;

    &__item {
      line-height: 27px;
      background: #f1f1f1;
      border-radius: 21px;
      display: flex;
      align-items: center;
      margin-right: 0.5rem;

      span {
        padding: 0 15px;
        color: #4a4a4a;
        background: 0 0;
        border-radius: 0;
        position: relative;
        top: -1px;
        font-size: 12px;
        font-weight: 500;
        display: inline-block;
      }
    }

    &__color {
      display: inline-block;
      vertical-align: bottom;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        width: 31px;
        border-radius: 50%;
        border: 2px solid #fff;
        height: 31px;
        display: inline-block;
        cursor: pointer;
        list-style: none;


        span {
          padding: 0 15px;
          color: #4a4a4a;
          background: 0 0;
          border-radius: 0;
          position: relative;
          top: -1px;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    text-align: left;

    &__image {
      margin: 0rem;
    }

    &__body {
      &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}
