@import "node_modules/bootstrap/scss/bootstrap";

.profile {
  margin: 1rem 0;
  text-align: center;

  &__bio {
    background: #fff;
    padding: 20px 0;
    margin: 1rem 0 32px;
    text-align: center;

    h3 {
      font-style: italic;
      font-size: 22px;
      line-height: 1.5;
      color: #4a4a4a;
      letter-spacing: normal;
      letter-spacing: 1px;
      width: 80%;
      margin: auto;
      word-wrap: break-word;
      display: inline-block;
    }
  }

  &__image {
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }

    margin: 1rem;
  }

  &__body {
    &__footer {
      padding: 0.5rem;

      a {
        color: gray;
      }
    }
  }

  @include media-breakpoint-up(md) {
    text-align: left;

    &__image {
      margin: 0rem;
    }

    &__body {
      &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}
