.skills {
  &__top {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 8rem;
    background-color: #ecf5ff;

    h2 {
      width: 8rem;
      text-align: center;
      font-size: 18px;
      line-height: 21px;
      color: #81a0b8;
      font-weight: 400;
      margin: 0 0 14px;
    }

    a {
      background: #fff;
      font-size: 12px;
      font-weight: 500;
      color: #004fc1;
      width: 104px;
      display: inline-block;
      line-height: 30px;
      text-align: center;
      border-radius: 20px;
    }
  }

  &__card {
    padding: 1rem;
  }
}